<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="LoginImage" value="" />
      <add key="MapViewImage" value="" />
      <add key="RfidRefreshInterval" value="1" />
      <add key="RfidPlugin" value="MyRfidDb.dll" />
      <add key="TagIcon1" value="" />
      <add key="TagIconN" value="" />
   </appSettings>
</configuration>
